/*.logo{*/
    /*width:150px;*/
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
    /*margin-top: -23px;*/
/*}*/
.main{
    /*background: white;*/
    /*width:1222px;*/
    /*margin:0 auto;*/
    /*overflow:hidden;*/
}
.page-title{
    text-align:center;
}

.haha{

     margin:0;
    padding:0;
}