.logo {
    width: 100px;
    margin-right: -15px;
    margin-left: 15px;
    margin-top: -23px;
}

.img-wrapper {
    position: relative;
    margin-right: 600px;
    margin-left:0px;


}


.button1 {
 position: absolute;
    top: 240px;
    bottom: 0;
    left:420px;
    right:0 ;
}
.haha{
    position: relative;
    bottom: 1000px;



}
.button123{
    position: absolute;
    top:200px;
    left:300px;


}


.button2 {
 position: absolute;
    top: 240px;
    bottom: 0;
    left:570px;
    right:0 ;
}

.font {
    position: absolute;
    top: 55px;
    bottom: 0;
    left:450px;
    right: 0;
    font-size: 2.5em;
    font-style: oblique;
}


.img-overlay:before {
    display: block;

    height: 50%;
}